/nbproject/private/
/client/node_modules
/client/src/actions/index.js
/client/node_modules/webpack-dev-server/bin/webpack-dev-server.js
/server/node_modules
/server/public/uploads
/server/config/main.js

